<h2> Main Content</h2>

<h3>Base Meal Details $:<input type="number" placeholder="$" ng-model="baseMeal" name="mealDetails" required=""></h3><br>
<h3>Tax Rate %:<input type="number" placeholder="%" ng-model="taxRate" name="baseMealPrice" required=""></h3><br>
<h3>Tip Percent %: <input type="number" placeholder="%" ng-model="tip" name="taxRate" required=""></h3><br>

<input type="submit" ng-click="submit()" class="submit" value="Submit!"><br>
<br>
<input type="submit" ng-click="cancel()" class="cancel" value="Cancel!"><br>
